.first-page {
    background-color: #FFECC0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagetext-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: fit-content;
    cursor: pointer;
}

.image-element {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease, z-index 0s 0.5s;
}

.text-element {
    opacity: 0;
    font-size: 1em;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0s 0.5s;
}

imagetext-container.active .image-element {
    transform: scale(1.2);
    transition: transform 0.5s ease, z-index 0s 0s;
}

imagetext-container.active .text-element {
    opacity: 1;
    visibility: visible;
    transition: transform 0.5s ease 0.1s, visibility 0s 0s;
}