.first-page {
    background-color: #FFECC0;
    position: relative;
}

.imagetext-container {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: fit-content;
    cursor: pointer;
    transition: width 0.5s ease;
}

.image-element {
    width: 100%;
    height: auto;
    filter: brightness(0.1);
    transition: filter 0.5s ease;
}

.text-element1 {
    opacity: 0;
    font-family: 'Shilla', sans-serif;
    font-size: 20px;
    visibility: hidden;
    color: #ED3F27;
    transition: opacity 0.5s ease, visibility 0.3s 0.5s;
}

.text-element2 {
    opacity: 0;
    font-family: 'Shilla', sans-serif;
    font-size: 30px;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.3s 0.5s;
}

.intro-ment{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-family: "Aggravo" sans-serif;
    font-weight:500;
    text-align: center;
}

.highlight{
    color: #ff6600;
    font-weight: bold; 
    }

.imagetext-container.active{
    z-index:3;
    transition: width 0.5s ease 0.1s;
    width: 95%;
}

.imagetext-container.active .image-element{
    filter: brightness(1);
}

.imagetext-container.active .text-element1, .imagetext-container.active .text-element2 {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease, visibility 0.3s 0s;
}

/* for desktop view*/

@media (min-width: 769px) {
    .imagetext-container {
        width: 23%;
    }

    .imagetext-container.active{
    width: 30%;
    }

    .text-element1 {
    font-size: 30px;
    }

    .text-element2 {
        font-size: 45px;
    }

    .intro-ment{
        font-size: 40px;
        font-weight:700;
    }
}