@font-face {
    font-family: 'yangjin';
    src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Shilla';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/Shilla_CultureM-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

.first_page {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #F5F5F0;
}

.imagetext-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: auto;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 이미지 스타일 */
.taehee-image {
    width: 80%;
    height: auto; 
    filter:brightness(10%);
    transition : filter 0.3s ease-in-out, transform 0.3s ease-in-out;
    outline: none;
    z-index: 4;
}

.taehee-image.hover-active {
    transform: scale(1.1);
    filter: brightness(100%);
    z-index: 10;
}

.intro-name {
    font-family: 'Shilla';
}

/* 이미지 위에 올릴 텍스트 스타일 */
.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: left;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    white-space: nowrap; /* 줄바꿈 방지 속성은 해제해도 무방하나, 텍스트가 짧아 유지 */
    background-color: rgba(0, 0, 0, 0.5);
    font-family: 'yangjin', sans-serif;
    z-index: 5; 
}

.image-text h2 {
    margin: 0;
    font-size: 1.2em;
}

.highlight-text {
    color: #f77700;
    font-weight: bold;
    font-size: 2.5em;
}