.first-page {
    background-color: #EAEFEF;
    position: relative;
}

.imagetext-container {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: fit-content;
    cursor: pointer;
    transition: width 0.5s ease;
}

.image-element {
    width: 100%;
    height: auto;
    filter: brightness(0.1);
    transition: filter 0.5s ease;
}

.text-element1 {
    opacity: 0;
    font-family: 'Shilla', sans-serif;
    font-size: 3em;
    visibility: hidden;
    color: #D84315;
    transition: opacity 0.5s ease, visibility 0.3s 0.5s;
}

.text-element2 {
    opacity: 0;
    font-family: 'Shilla', sans-serif;
    font-size: 4em;
    color: #212529;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.3s 0.5s;
}

.intro-ment{
    position: absolute;
    width: fit-content;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-20%, -50%);
    font-size: 24px;
    font-family: "Aggravo" sans-serif;
    font-weight:500;
    color: #212529;
    text-align: center;
    white-space: nowrap;
    background-color: #B8CFCE;
    padding: 10px;
    border-radius: 5px;
}

.highlight{
    color: #D97D54;
    font-weight: bold;
    font-size: 30px;
    }

.imagetext-container.active{
    z-index:3;
    transition: width 0.5s ease 0.1s;
    width: 95%;
}

.imagetext-container.active .image-element{
    filter: brightness(1);
}

.imagetext-container.active .text-element1, .imagetext-container.active .text-element2 {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease, visibility 0.3s 0s;
}

.intro-ment.activeIntro{    
    filter: blur(5px);
    font-size: 18px;
    transition: filter 0.5s ease;
}

.highlight.activeHighlight{    
    font-size: 22px;
    transition: filter 0.5s ease;
}

/* for desktop view*/

@media (min-width: 769px) {
    .imagetext-container {
        width: 23%;
    }

    .imagetext-container.active{
    width: 30%;
    }

    .text-element1 {
    font-size: 30px;
    }

    .text-element2 {
        font-size: 45px;
    }

    .intro-ment{
        font-size: 3vw;
        font-weight:700;
        transform: translate(-50%, -50%);
        padding: 1vw;
        border-radius: 0.5vw;
    }

    .highlight{
        font-size: 4vw;
    }

    .intro-ment.activeIntro{    
    font-size: 2.2vw;    
 }

    .highlight.activeHighlight{    
    font-size: 2.4vx;
    }
}