/* 부모 스크롤 스냅 컨테이너 */
.scroll-container {
    height:100%;
    width:100%;
    overflow: hidden;
    scroll-snap-type: y mandatory;
}

/* 자식 스크롤 스냅 영역 */
.scroll-area {
    height:100%;
    width:100%;
    scroll-snap-align: start;
}